.header,
.page {
    background-color: rgb(246, 244, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        display: block;
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    &__title {
        color: rgb(49, 49, 49);
    }
}

.box {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: none;

    &__title {
        padding-top: 40px;
    }
}

label {
    cursor: pointer;
}

.second-form {
    &__item {
        border: 1px solid silver;
        margin-bottom: 10px;
    }
}

.third-form {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.fourth-form {
    &__label {
        display: flex;
        align-items: center;
    }

    &__input {
        margin-right: 10px;
    }
}

.fifth-form__select {
    width: 200px;
    padding: 10px;
}

.seventh-form {
    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgb(235, 235, 235);
    }

    &__label + &__label {
        margin-top: 5px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-left: auto;
    }

    &__title:last-child {
        margin-right: 30px;
    }

    &__input {
        display: block;
        width: 30%;
        margin: 0;
    }

    &__input:first-child {
        margin-left: auto;
    }
}

.ninth-form,
.tenth-form {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        align-items: center;
    }

    &__input {
        margin-right: 10px;
    }
}

